body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.photo-box {
  width: 600px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.main-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}